<!DOCTYPE html>
<html>
<head lang="br">
    <meta charset="UTF-8">
    <title>Prestador SaaS</title>
    <link rel="stylesheet" href="css/login.css"/>
</head>
<div id="fullscreen_bg" class="fullscreen_bg"/>

<div class="container">

    <form class="form-signin">
        <h1 class="form-signin-heading text-muted">Sign In</h1>
        <input type="text" class="form-control" placeholder="Cpf" required="" autofocus="">
        <input type="password" class="form-control" placeholder="Senha" required="">
        <button class="btn btn-lg btn-primary btn-block" type="submit">
            Sign In
        </button>
    </form>

</div>
</html>